
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

header img {
    margin-right: 5rem;
    width: 10rem;
}

main section h2{
    text-align: center;
}

main section p{
    max-width: 70rem;
    text-align: center;
    margin: 0 auto;
    border: .1rem solid black;
    padding: 3rem 5rem;
}

.list_image{
    max-width: 55rem;
    margin: 4rem auto;
}

.list_image ul{
    font-size: 0;
}

.list_image ul li{
    display: inline-block;
    margin: .5rem;
}

main section:last-child{
    text-align: center;
    margin: 8rem;
}

main section a{
    background-color: #3B99CC;
    color: #fafafa;
    padding: 1.5rem 9rem;
}

footer{
    text-align: center;
}
/*------- Formulaire --------*/

.form h2{
    text-align: center;
}

.form form{
    max-width: 50rem;
    margin: 0 auto;
}

.form form input, .form form label{
    display: block;
}

.form form label{
    margin-top: 2rem;
}

.form form input{
    border: .1rem solid black;
    padding: 1rem;
    border-radius: .5rem;
    width: 100%;
}

.form form input:last-child{
    margin: 5rem 0;
    background-color: #F0F0F0;
    cursor: pointer;
}